spring:
  datasource:
    url: jdbc:mysql://localhost:3306/livenote?serverTimezone=Asia/Seoul
    username: root
    password: 1017
  jpa:
    hibernate.ddl-auto: create
    show-sql: true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

app:
  storage:
    audio-dir: uploads/audio


  openai:
    api:
      key: ${OPENAI_API_KEY}
    stt:
      model: whisper-1
    summary:
      model: gpt-4o-mini
      max-tokens: 500

  ai:
    base-url: http://localhost:8003