spring:
  config:
    import: "optional:file:./env.properties"

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

ai:
  server:
    url: ${AI_SERVER_URL}

openai:
  api:
    key: ${OPENAI_API_KEY}

jwt:
  secret: ${JWT_SECRET}


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

app:
  storage:
    audio-dir: uploads/audio


  openai:
    api:
      key: ${OPENAI_API_KEY}
    stt:
      model: whisper-1
    summary:
      model: gpt-4o-mini
      max-tokens: 500

  ai:
    base-url: http://localhost:8003